@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.container {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  height: 500px;
  gap: 10px;
  width: 90%;
  max-width: 90%;

  > div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #ff009d;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("../tattoo/img/phototattoo/latexcat.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("../tattoo/img/phototattoo/lilith.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("../tattoo/img/phototattoo/skull.mp4")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
        background: url("../tattoo/img/phototattoo/spacemonkey.webp")
          no-repeat 50% / cover;
      }
    &:nth-of-type(5) {
        background: url("../tattoo/img/phototattoo/vieux.webp")
          no-repeat 50% / cover;
      }
    &:nth-of-type(5) {
        background: url("../tattoo/img/phototattoo/vieux.webp")
          no-repeat 50% / cover;
      }
    &:nth-of-type(6) {
        background: url("../tattoo/img/phototattoo/vieux.webp")
          no-repeat 50% / cover;
      }
    &:nth-of-type(7) {
        background: url("../tattoo/img/phototattoo/vieux.webp")
          no-repeat 50% / cover;
      }
    &:nth-of-type(8) {
        background: url("../tattoo/img/phototattoo/vieux.webp")
          no-repeat 50% / cover;
      }
    &:nth-of-type(9) {
        background: url("../tattoo/img/phototattoo/vieux.webp")
          no-repeat 50% / cover;
      }
    &:nth-of-type(10) {
        background: url("../tattoo/img/phototattoo/vieux.webp")
          no-repeat 50% / cover;
      }
    

    

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #7645d8;
      transform: translatey(-30px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}
