body {
    margin: 0;
    padding: 0%;
    background-image: url("img/background_a.png") ; 
    background-size: 70% ;
    background-attachment: fixed;
    background-position: left center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.lore-container {
    display: flex;
    justify-content: flex-end; /* Aligner à droite */
}

.lore {
    margin: 10%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(114, 114, 114, 0.281);
    backdrop-filter: blur(1px);
    width: 50%;
}
  
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}