body {
    margin: 0;
    padding: 0%;
    background-image: url("img/background_a.png") ; 
    background-size: 65% ;
    background-attachment: fixed;
    background-position: left center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Raleway", sans-serif;
}


.lore-container {
    display: flex;
    justify-content: flex-end; /* Aligner .lore à la fin (à droite) */
    width: 100%; /* Assure que le container prend toute la largeur */
}

.lore {
    margin-top: 8%;
    margin-bottom: 10%;
    padding: 30px;
    background-color: rgba(238, 238, 238, 0.438);
    backdrop-filter: blur(1px);
    width: 100%; /* .lore prend toute la largeur */
    border: 2px solid transparent;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; /* Aligner le contenu de .lore à droite */
}

.lore::before {
    content: '';
    position: absolute;
    top: -2px; 
    left: -2px;
    right: -2px; 
    bottom: -2px; 
    border: 4px solid rgb(255, 255, 255);
    border-right: none;
    border-left: none;
    filter: blur(2px); 
    z-index: -1;
}

.lore-header {
    display: flex;
    align-items: center; 
    justify-content: flex-end; /* Aligner l'image et le titre à droite */
    width: fit-content; /* Ajuste la largeur au contenu */
    margin-left: auto; /* Pousse le contenu vers la droite */
}
.lore-content {
    font-size: 1rem;
    text-align: justify; /* Justifier le texte */
    width: fit-content; /* Ajuste la largeur au contenu */
    margin-left: auto; /* Pousse le contenu vers la droite */
}

.lore-image {
    max-width: 200px;
    margin-left: 20px; /* Espace à gauche de l'image */
}

.lore-title {
    font-size: 2vw; /* Adapte la taille du titre à la largeur de l'écran */
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    text-align: right; /* Aligner le titre à droite */
    /* Ajoute une taille minimale et maximale pour garantir la lisibilité */
    min-font-size: 18px; /* Taille minimale pour les petits écrans */
    max-font-size: 36px; /* Taille maximale pour les grands écrans */
}




.event-container {
    display: flex;
    justify-content: center; 
}


.event {
    margin: 10%;
    padding: none;
    background-color: rgba(51, 28, 28, 0.74);
    backdrop-filter: blur(1px);
    width: 100%;
}
  
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0);
}

footer {
    background-color: rgba(0, 255, 255, 0);
    z-index: 99;
}

.photo-container {
    display: flex;
    justify-content: center; 

}

.photo {
    margin: 5%;
    padding: 30px;
    background-color: none;
    backdrop-filter: blur(1px);
    width: 100%;
}